html {
  min-width: 1200px;
}
body {
  width: 800px;
  margin: 0 auto;
  line-height: 1.8em;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  background: #fff;
}
a {
  color: #005cc5;
}
h1,h2,h3,h4,h5,h6 {
  color: #000;
}
p {
  text-indent: 2em;
  color: #555;
}
code {
  border-radius: 5px;
  background-color: #f2f2f2 !important;
  padding: .2em .5em;
  white-space: pre;
  margin: 1em 0;
  color: #222;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 14px;
}
pre {
  margin: 0;
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.05);
  line-height: 1.5em;
}

iframe {
  display: block;
  border: none;
  width: 100%;
  overflow: hidden;
}

ul {
  padding-left: 1em;
  color: #555;
}

ul li {
  margin: 1em 0;
}
#content {
  background: #fff;
  padding: 2em;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: #f2f2f2;
  box-shadow: inset 0 0 3px rgba(0,0,0,.1);
  width: 140px;
}
.links {
  display: flex;
  justify-content: space-around;
  font-size: 0;
  padding: 0 20px 20px;
}
.links img {
  width: 20px;
  height: 20px;
}
.nav h3 {
  text-align: center;
}
.nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav li {
  padding: 0 1em;
  margin: 0;
}

.nav li a {
  text-decoration: none;
  color: #444;
  display: block;
  padding: .5em 0 .5em 15px;
  position: relative;
}
.nav li a:before {
  content: '';
  width: 4px;
  height: 4px;
  background: #444;
  display: block;
  margin: 14px 5px 0 0;
  vertical-align: top;
  position: absolute;
  left: 2px;
}
.nav li a:hover {
  color: #d73a49;
}

.nav .current {
  background-color: #fff;
}